<%= form_for @appointment do |f| %>
  <p>Title: <%= f.text_field :title %></p>
  <ul>
    <%= f.fields_for :ingredients do |ingredient| %>
    <li>
      name: <%= ingredient.text_field :name %>
      qty: <%= ingredient.text_field :quantity %>
    </li>
    <% end %
    <%= link_to 'doctor', @appointment.doctor_path %>
  </ul>
  <%= f.submit %>
<% end %>
